.collapse-home{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.content-collapse{
    font-size: 24px;
    margin: 40px 15px 0 15px;
    border-radius: 5px;
    width: 50%;
}
.tittle-content{
    background-color: #FF6060;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.tittle-collapse{
    font-weight: 500;
    margin: 0;
    color: white;
    font-size: 18px;
}

.text-collapse{
    background-color: #F6F6F6;
    font-weight: 300;
    padding: 30px 20px;
    margin: 0;
    color: #FF6060;
    font-size: 17px;
}

.text-collapse p {
    padding: 0 0 5px 0;
}
.collapse-next{
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media (max-width: 1001px) {
    .tittle-content{
        width: 100%;
    }
    .text-collapse{
        width: 100%;
        font-size: 24px;
    }
    .collapse-next{
      width: 100%; 
  
    }
    .collapse-home{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
    }
 }