.content-error {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 57vh;
   color: #FF6060;
}

.title-error {
   font-size: 288px;
   font-weight: 700;
   margin: 0;
}

.text-error {
   font-size: 36px;
   font-weight: 500;
   margin: 0;
}

.link-error {
   color: #FF6060;
   font-size: 18px;
   margin-top: 45px;
   
}

.link-error:hover {
   filter: brightness(0.95);
}

@media (max-width: 1001px) {
   .title-error {
      font-size: 96px;
   }
   
   .text-error{
      font-size: 22px;
   }

   .link-error {
      font-size: 14px;
   }
}